demand-forecasting-ebay-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "demand-forecasting-ebay-adf"
		},
		"raw_storage_ls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'raw_storage_ls'"
		},
		"scrape_ebay_fns_ls_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'scrape_ebay_fns_ls'"
		},
		"raw_storage_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://demandforecastingebaysa.dfs.core.windows.net/"
		},
		"scrape_ebay_fns_ls_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://scrape-ebay-fns.azurewebsites.net"
		},
		"scrape_ebay_daily_properties_scrape_data_outerloop_pl_parameters_date": {
			"type": "string",
			"defaultValue": "@trigger().scheduledTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/scrape_data_innerloop_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Tea Types",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "data_tea_types_csv",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Tea Type",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Tea Types",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Tea Types').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Scrape Ebay Function",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "scrape_ebay_fns",
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@replace(concat('{\"scrape_date\":\"',pipeline().parameters.date,'\",\"country\":\"',pipeline().parameters.Country,'\",\"tea_type\":\"',item().tea_type,'\"}'),'\\','')",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "scrape_ebay_fns_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Country": {
						"type": "string"
					},
					"date": {
						"type": "string"
					}
				},
				"variables": {
					"country": {
						"type": "Array"
					},
					"tea_type": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-06T06:28:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/data_tea_types_csv')]",
				"[concat(variables('factoryId'), '/linkedServices/scrape_ebay_fns_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/scrape_data_outerloop_pl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Trigger Scraper Function",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "scrape_ebay_fns",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"scrape_date\":\"Sold  Nov 5, 2023\",\n\"country\":\"China\",\n\"tea_type\":\"Pu-erh\"}",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "scrape_ebay_fns_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ForEach Country",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Countries",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Countries').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Execute innerloop",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "scrape_data_innerloop_pl",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"Country": {
												"value": "@item().country",
												"type": "Expression"
											},
											"date": {
												"value": "@pipeline().parameters.date",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup Countries",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "data_countries_csv",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"date": {
						"type": "string"
					}
				},
				"variables": {
					"country": {
						"type": "Array"
					},
					"tea_type": {
						"type": "Array"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-11-06T06:31:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/scrape_ebay_fns_ls')]",
				"[concat(variables('factoryId'), '/datasets/data_countries_csv')]",
				"[concat(variables('factoryId'), '/pipelines/scrape_data_innerloop_pl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_countries_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "raw_storage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "countries.csv",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/raw_storage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/data_tea_types_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "raw_storage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tea_types.csv",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Tea Type",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/raw_storage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/processed_scraped_data_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "raw_storage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "processed"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/raw_storage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_scraped_data_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "raw_storage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "output.json",
						"fileSystem": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"name": {
							"type": "string"
						},
						"purchase_option": {
							"type": "string"
						},
						"page": {
							"type": "integer"
						},
						"date_sold": {
							"type": "string"
						},
						"price": {
							"type": "string"
						},
						"bids": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/raw_storage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_storage_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('raw_storage_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('raw_storage_ls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scrape_ebay_fns_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('scrape_ebay_fns_ls_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('scrape_ebay_fns_ls_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/scrape_ebay_daily')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "scrape_data_outerloop_pl",
							"type": "PipelineReference"
						},
						"parameters": {
							"date": "[parameters('scrape_ebay_daily_properties_scrape_data_outerloop_pl_parameters_date')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-11-06T23:10:00",
						"endTime": "2023-11-30T04:11:00",
						"timeZone": "Central Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/scrape_data_outerloop_pl')]"
			]
		}
	]
}