pipeline/scrape_data_outerloop_pl.json
{
	"name": "scrape_data_outerloop_pl",
	"properties": {
		"activities": [
			{
				"name": "Trigger Scraper Function",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "scrape_ebay_fns",
					"method": "POST",
					"body": {
						"value": "{\"scrape_date\":\"Sold  Nov 5, 2023\",\n\"country\":\"China\",\n\"tea_type\":\"Pu-erh\"}",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "scrape_ebay_fns_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach Country",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Countries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Countries').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute innerloop",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "scrape_data_innerloop_pl",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"Country": {
										"value": "@item().country",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup Countries",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "data_countries_csv",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"country": {
				"type": "Array"
			},
			"tea_type": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-06T06:31:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}